.itemWrapper {
    min-height: 40px;
    margin: 10px 0 10px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.avatar {
    border: 1px solid aqua;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 20px;
}

.textWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.topLine {
    display: flex;
    justify-content: space-between;
}

.timeDisplay {
    font-size: 12px;
    color: var(--color-prev-text);
}

.nameField {
    margin-bottom: 5px;
    font-weight: 600;
}

.previewMessageField {
    color: var(--color-prev-text);
}
