.Icon {
  -webkit-mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: var(--color-primary);
  width: 15px;
  height: 15px;
  display: inline-block;
}