.MessageInput {
  min-height: 50px;
  padding: 10px 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top: .3px solid #b5b5b5;

  &-input {
    width: 90%;
    padding: 5px 10px;
    border: none;
  }

  &-submit {
    width: 8%;
    border: none;
  }
}