.MessageInput {
  min-height: 50px;
  padding: 10px 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-top: .3px solid var(--color-border);

  &-input {
    width: 90%;
    padding: 5px 10px;
    border: none;
    background-color: var(--color-background);
    color: var(--color-text);
  }

  &-submit {
    width: 8%;
    border: none;
    color: var(--color-text);
    background-color: var(--color-background);
  }
}